---
import siteConfig from '../data/site-config';
---

<header class="header w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/" class="font-sans logo-link">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="logo" />
                <span class="title">{siteConfig.title}</span>
            </a>
        ) : (
            <>
                <a class="font-sans text-theme-foreground sm:text-4xl" href="/">
                    {siteConfig.title}
                </a>
            </>
        )
    }
</header>
<style>
    header {
        margin: 1rem auto 0;
        padding: 0;
    }

    header a {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto 0;
        padding: 0;
        width: 100%;
    }

    .logo-link {
        display: flex;
        align-items: center; /* Vertically centers the logo and title */
        text-decoration: none; /* Removes underline from links */
        font-weight: 400;
        font-size: 20px; /* Adjust this value as needed */
        letter-spacing: 1px;
        color: inherit; /* Inherits color from parent */
    }

    .logo {
        max-height: 12; /* Adjust this value as needed */
        margin-right: 10px; /* Adds space between the logo and the title */
    }

    .title {
        width: 250px;
    }
</style>
