---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: 1 %}


<div class="section">
  <div class="container">
    <div class="row">
      {% if page.title %}
      <div class="project-heading">
        <h1>{{ page.title }}</h1>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-md-4 project-details">
        {% if page.media %}
        <div class="project-media"><strong>Media </strong><span>{{ page.media }}</span></div>
        {% endif %} {% if page.role %}
        <div class="project-role"><strong>My Role </strong><span>{{ page.role }}</span></div>
        {% endif %}
        <div class="project-heading-secondary">
          <h3>Available for Purchase</h3>
        </div>
        {% if page.amazonlink %}
        <div class="project-purchase"><strong>Amazon </strong><span><a href="{{ page.amazonlink }}">Print Edition & Kindle eBook</a></span></div>
        {% endif %} {% if page.applelink %}
        <div class="project-purchase"><strong>Apple </strong><span><a href="{{ page.applelink }}">Apple Books eBook</a></span></div>
        {% endif %}
      </div>

      <div class="col-12 col-md-8">
        <div class="content">
          {% if page.image %}
          <img src="{{ page.image }}" alt="{{ page.title }}">
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
