---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: 1 %}


<div class="section">
  <div class="container">
    <div class="row">
      {% if page.title %}
      <div class="project-heading">
        <h1>{{ page.title }}</h1>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12 col-md-4 project-details">
        {% if page.media %}
        <div class="project-media"><strong>Media </strong><span>{{ page.media }}</span></div>
        {% endif %} {% if page.role %}
        <div class="project-role"><strong>My Role </strong><span>{{ page.role }}</span></div>
        {% endif %} {% if page.credits %}
        <div class="project-credits"><strong>Band </strong><span>{{ page.credits }}</span></div>
        {% endif %}
        <div class="project-heading-secondary">
          <h3>Now Streaming</h3>
        </div>
        {% if page.musiclink %}
        <div class="project-purchase"><strong>Listen</strong><span><a href="{{ page.musiclink }}">Apple Music</a></span></div>
        {% endif %} {% if page.spotifylink %}
        <div class="project-purchase"><strong>Listen</strong><span><a href="{{ page.spotifylink }}">Spotify</a></span></div>
        {% endif %}
      </div>

      <div class="col-12 col-md-8">
        <div class="content">
          {% if page.image %}
          <img src="{{ page.image }}" alt="{{ page.title }}">
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
